<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <title>FYP APP</title>
        <style>
             #map {
                height: 84%;
                width: 100%;
             }
        </style>
    </head>
    <body>
        <table width="100%" height="10%">
            <!-- Page Header -->
            <tr>
                <td width="33%"></td>
                <td width="33%"><center><div><h2>KTH University - How Busy ?</h2></div></center></td>
                <td width="33%"></td>
            </tr>
            <!-- Request input form -->
            <tr>
                <td></td>
                <td>
                    <center>
                        <div>
                            <form action = "http://localhost:5000/" method = "POST">
                                <table>
                                    <tr>
                                        <!-- Hour field -->
                                        <td>
                                            {{ form.Hour.label }}
                                             {{ form.Hour() }}
                                        </td>
                                        <!-- Day of week field -->
                                        <td>
                                            {{ form.Day.label }}
                                             {{ form.Day() }}
                                        </td>
                                        <!-- Month field -->
                                        <td>
                                            {{ form.Month.label }}
                                             {{ form.Month() }}
                                        </td>
                                        <!-- Form submit button -->
                                        <td>
                                            {{ form.submit() }}
                                        </td>
                                    </tr>
                                </table>
                             </form>
                        </div>
                    </center>
                </td>
                <td></td>
            </tr>
        </table>
        <div>
        <!-- Google maps div -->
        <div id="map" style="border-top: 4px solid black; border-bottom: 4px solid black;"></div>
        </div>
        <script>
        // Map Data ( Building names, lat and long coordinates, and busyness prediction )
          var mapData = {
            Building_1: {
              name: "Building 1",
              center: {lat: 59.343483, lng: 18.069366},
              population: {{ data[0] }}
            },
            Building_2: {
              name: "Building 2",
              center: {lat: 59.346207, lng: 18.072464},
              population: {{ data[1] }}
            },
            Building_3: {
              name: "Building 3",
              center: {lat: 59.346730, lng: 18.074089},
              population: {{ data[2] }}
            },
            Building_4: {
              name: "Building 4",
              center: {lat: 59.342645, lng: 18.071044},
              population: {{ data[3] }}
            },
            Building_5: {
              name: "Building 5",
              center: {lat: 59.348216, lng: 18.070876},
              population: {{ data[4] }}
            },
            Building_6: {
              name: "Building 6",
              center: {lat: 59.347830, lng: 18.072969},
              population: {{ data[5] }}
            },
            Building_7: {
              name: "Building 7",
              center: {lat: 59.348133, lng: 18.068840},
              population: {{ data[6] }}
            },
            Building_8: {
              name: "Building 8",
              center: {lat: 59.348407, lng: 18.074081},
              population: {{ data[7] }}
            },
            Building_9: {
              name: "Building 9",
              center: {lat: 59.348349, lng: 18.074043},
              population: {{ data[8] }}
            },
            Building_10: {
              name: "Building 10",
              center: {lat: 59.348914, lng: 18.072955},
              population: {{ data[9] }}
            },
            Building_11: {
              name: "Building 11",
              center: {lat: 59.351039, lng: 18.070623},
              population: {{ data[10] }}
            },
            Building_12: {
              name: "Building 12",
              center: {lat: 59.350802, lng: 18.070397},
              population: {{ data[11] }}
            },
            Building_13: {
              name: "Building 13",
              center: {lat: 59.34842, lng: 18.06853},
              population: {{ data[12] }}
            },
            Building_14: {
              name: "Building 14",
              center: {lat: 59.349093, lng:18.071823},
              population: {{ data[13] }}
            },
            Building_15: {
              name: "Building 15",
              center: {lat: 59.349251, lng: 18.074262},
              population: {{ data[14] }}
            },
            Building_16: {
              name: "Building 16",
              center: {lat: 59.349543, lng: 18.072349},
              population: {{ data[15] }}
            },
            Building_17: {
              name: "Building 17",
              center: {lat: 59.349269, lng: 18.075023},
              population: {{ data[16] }}
            },
            Building_18: {
              name: "Building 18",
              center: {lat: 59.349887, lng: 18.074736},
              population: {{ data[17] }}
            },
            Building_19: {
              name: "Building 19",
              center: {lat: 59.350153, lng: 18.074671},
              population: {{ data[18] }}
            },
            Building_20: {
              name: "Building 20",
              center: {lat: 59.350429, lng: 18.069410},
              population: {{ data[19] }}
            },
            Building_21: {
              name: "Building 21",
              center: {lat: 59.352308, lng: 18.058553},
              population: {{ data[20] }}
            },
            Building_22: {
              name: "Building 22",
              center: {lat: 59.349697, lng: 18.074787},
              population: {{ data[21] }}
            },
            Building_23: {
              name: "Building 23",
              center: {lat: 59.349816, lng: 18.070684},
              population: {{ data[22] }}
            },
            Building_24: {
              name: "Building 24",
              center: {lat: 59.352691, lng: 18.058501},
              population: {{ data[23] }}
            },
            Building_25: {
              name: "Building 25",
              center: {lat: 59.352691, lng: 18.058501},
              population: {{ data[24] }}
            },
            Building_26: {
              name: "Building 26",
              center: {lat: 59.350129, lng: 18.066955},
              population: {{ data[25] }}
            },
            Building_27: {
              name: "Building 27",
              center: {lat: 59.350188, lng: 18.067120},
              population: {{ data[26] }}
            },
            Building_28: {
              name: "Building 28",
              center: {lat: 59.350164, lng: 18.068121},
              population: {{ data[27] }}
            },
            Building_29: {
              name: "Building 29",
              center: {lat: 59.350593, lng: 18.067669},
              population: {{ data[28] }}
            },
            Building_30: {
              name: "Building 30",
              center: {lat: 59.351632, lng: 18.068769},
              population: {{ data[29] }}
            },
            Building_31: {
              name: "Building 31",
              center: {lat: 59.351348, lng: 18.067265},
              population: {{ data[30] }}
            },
            Building_32: {
              name: "Building 32",
              center: {lat: 59.350961, lng: 18.068038},
              population: {{ data[31] }}
            },
            Building_33: {
              name: "Building 33",
              center: {lat: 59.351975, lng: 18.069059},
              population: {{ data[32] }}
            },
            Building_34: {
              name: "Building 34",
              center: {lat: 59.351632, lng: 18.068769},
              population: {{ data[33] }}
            },
            Building_35: {
              name: "Building 35",
              center: {lat: 59.351478, lng: 18.066409},
              population: {{ data[34] }}
            },
            Building_36: {
              name: "Building 36",
              center: {lat: 59.350371, lng: 18.073496},
              population: {{ data[35] }}
            },
            Building_37: {
              name: "Building 37",
              center: {lat: 59.354025, lng: 18.064227},
              population: {{ data[36] }}
            },
            Building_38: {
              name: "Building 38",
              center: {lat: 59.353326, lng: 18.064753},
              population: {{ data[37] }}
            },
            Building_39: {
              name: "Building 39",
              center: {lat: 59.350711, lng: 18.072731},
              population: {{ data[38] }}
            },
            Building_40: {
              name: "Building 40",
              center: {lat: 59.353826, lng: 18.066785},
              population: {{ data[39] }}
            },
            Building_41: {
              name: "Building 41",
              center: {lat: 59.353380, lng: 18.055762},
              population: {{ data[40] }}
            },
            Building_42: {
              name: "Building 42",
              center: {lat: 59.352297, lng: 18.059766},
              population: {{ data[41] }}
            },
            Building_43: {
              name: "Building 43",
              center: {lat: 59.347124, lng: 18.071929},
              population: {{ data[42] }}
            }
        };

        // Create the map
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
              // Set initial zoom
              zoom: 15.5,
              // Lat and Long to center map on load
              center: {lat: 59.347830, lng: 18.072969},
            });

            // Colour Scale for Busyness
            var colours = [ "#1a9641","#a6d96a","#ffffbf","#fdae61", "#d7191c"]
            // Descriptions of Busyness Levels
            var desc = [ "Not Busy","Moderately Busy","Busy","Very Busy", "Extremely Busy"]

            // For each building
            for (var building in mapData) {
              // Create a Google maps Marker
              var buildingCircle = new google.maps.Marker({
                    // Set building center point
                    position: mapData[building].center,
                    // Set building name
                    sName: mapData[building].name,
                    // Set tooltip busyness description
                    dName: desc[mapData[building].population-1],
                    map: map,
                    // Configure marker icon
                    icon: {
                        // Use circle
                        path: google.maps.SymbolPath.CIRCLE,
                        // Set size Proportional to Busyness
                        scale: ((mapData[building].population) - (mapData[building].population/2))*15,
                        // Set colour relative to busyness
                        fillColor: colours[mapData[building].population-1],
                        // Opacity for ease of view when circles cross / See map underneath
                        fillOpacity: 0.9,
                        // Border on circle
                        strokeColor: 'black',
                        strokeOpacity: 0.8,
                        strokeWeight: 1.8,
                    },
              });

              // Create infowindow for tooltip
              var infowindow = new google.maps.InfoWindow();
              // Listener for tooltip to activate on mouseover
              google.maps.event.addListener(buildingCircle, 'mouseover', function () {
                // Set tooltip content
                infowindow.setContent("<center><b>" + this.sName + "</br>" + this.dName + "</b></center>");
                // Display tooltip
                infowindow.open(map, this);
              });
              // Listener for tooltip to dissapear on mouseout
              google.maps.event.addListener(buildingCircle, 'mouseout', function () {
                   // Remove tooltip
                   infowindow.close();
              });
              // Listener for click to zoom on clicked building
              google.maps.event.addListener(buildingCircle, 'click', function() {
                map.panTo(this.getPosition());
                map.setZoom(17);
             });
          }
        }
        </script>
        <!-- Google Maps API key -->
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCePaY1g3fw2DyPDBmaP-og8pRJhK-u0dM&callback=initMap">
        </script>
    </body>
</html>